.page-grid {
  display: grid;
  grid-template-rows: 8vh 70vh 80vh 25vh;
}

.dogs {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw
}

.header {
  background-color: #92E0E5
}

.main-display {
  background-image: url("../../images/park.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.dogs {
  text-align: center;
}

.dog-pics {
  border-radius: 100%;
}

.footer {
  background-color: #3F8CA7
}
