* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.page-grid {
  display: grid;
  grid-template-rows: 8vh 70vh 80vh 25vh;
}

.dogs {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  text-align: center;
  font-size: 14pt
}

.header {
  display: grid;
  grid-template-columns: 10vw 75vw 5vw 5vw 5vw;
  background-color: #92E0E5;
}

.header > p {
  color: white;
  font-size: 14pt;
  text-align: center;
  margin-right: 50px
}

.main-display {
  background-image: url("../../images/park.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.dog-pics {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #3F8CA7;
}

.footer {
  background-color: #3F8CA7;
  text-align: center;
}

.logos {
  display: grid;
  grid-template-columns: 33vw auto auto auto 38vw;
  margin: 25px
}

.footer-text {
  color: white;
  font-size: 14pt
}

.logo {
  margin: 0px 10px
}

.buttons{
  background-color: white;
  color: #3F8CA7;
  border: 5px solid #3F8CA7;
  padding: 5px 10px;
  font-size: 14pt;
}

.dog-text {
  margin: 20px 35px 20px
}

#dog-logo {
  height: 40px;
  width: 40px;
  margin: 5px 25px
}

#main-dog {
  border-radius: 100%;
  box-shadow: 0 0 0 4px #3F8CA7;
}

#display-header {
  font-size: 24pt;
}

#header-button {
  margin-top:15px;
}

#github-link {
  text-decoration: underline;
}
